h2 {
    padding-right: 10%;
    padding-bottom: 15px;
    text-align: center;
}

a {
    color: black;
}

i {
    font-size: 36px;
    color:#fcf8ec;
    margin: 8px 4px 0px 4px;
}

footer {
    background-color: #343a40;
    height: 50px;
}

.icon-home {
    text-align: center;
}

.ig-link {
    color: blue;
}

.ig-link:hover {
    color:salmon;
}

/* .jumboMod {
    padding-top: 20%;
    padding-bottom: 20%;
    height: 95%;
    background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/30740280_10155767957879055_7969917408116736000_o.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=udSxBMGsgnwAX95jZA1&_nc_ht=scontent-sea1-1.xx&oh=0840ddc01ef89697b2cf0d48ed828df3&oe=5FF5A203");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumboText {
    color: white;
} */

.bgFlavor {
    background-image: url('https://images.squarespace-cdn.com/content/5939a7c7579fb356d5b9dfbc/1560533735371-OHI1VUADTMXECY4UZWAE/best-subtle-black-white-background-textures.jpg?content-type=image%2Fjpeg');
    background-size: 100% 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    background-attachment: scroll;
}

/* adds a border to the navbar to match the footer */
.navBorder {
    border-bottom: 5px solid #d0e8f2;
}

/* changes the font size for my name */
.bigFont {
    font-size: 30px;
    color: black !important;
}

/* adds style to the button for my name */
.nameBox{
    background-color: #d0e8f2;
    /* width: 120px; */
    padding: 0px 15px;
    border-radius: 0.25em;
}

/* gives the background of the main content flavor */
.flavor {
    background-color: #fcf8ec;
    margin: 20px 10px;
    padding: 2em;
    border-radius: 0.25em;
}

/* gives the background of the main content flavor for the contact page */
.flavorContact {
    background-color: #fcf8ec;
    margin: 10px 10px;
    padding: 2em;
    border-radius: 0.25em;
}

/* styles the placeholder photo */
.baconator {
    float: left;
    border-radius: 0.25em;
    margin-right: 1.5em;
}

.test {
    display:inline;
}

/* modifies the button on the contact page */
.buttonMod {
    padding: 5px 10px;
    border-radius: 0;
}

.link-style {
    color: #254c5c;
}

.project-card {
    color: black;
    border-radius: .25em;
    margin-bottom: 20px;
    cursor: pointer;
}

.first-project {
    background-color: #d0e8f2;
}

.second-project {
    background-color: #79a3b1;
}

.third-project {
    background-color: #456268;
}

.card-behavior {
    transition: 0.2s ease;
}

.card-behavior:hover{
    transform: translateY(-10px);
    transition: 0.2s ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}


.repo-link {
    justify-content: right;
    padding-left: 30px;
    justify-content: center;
}

.repo-link:hover {
    color:#fcf8ec;
}

.image-style {
    border-radius: 0.25em;
}

#resume-flavor {
    font-size: 24px;
    color: black;
    background-color:#d0e8f2;
    padding: 10px 15px;
    border-radius: 0.25em;
    margin-bottom: 1em;
    float: right;
}