h2 {
    padding-left: 10%;
}

/* styles the footer */
.footer {
    height: 50px;
    border-top: 5px #6ed6ff solid;
}

/* .jumboMod {
    padding-top: 20%;
    padding-bottom: 20%;
    height: 95%;
    background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/30740280_10155767957879055_7969917408116736000_o.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=udSxBMGsgnwAX95jZA1&_nc_ht=scontent-sea1-1.xx&oh=0840ddc01ef89697b2cf0d48ed828df3&oe=5FF5A203");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumboText {
    color: white;
} */

.bgFlavor {
    background-image: url('https://images.squarespace-cdn.com/content/5939a7c7579fb356d5b9dfbc/1560533735371-OHI1VUADTMXECY4UZWAE/best-subtle-black-white-background-textures.jpg?content-type=image%2Fjpeg');
    background-size: 100% 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    background-attachment: scroll;
}

/* adds a border to the navbar to match the footer */
.navBorder {
    border-bottom: 5px solid #6ed6ff;
}

/* changes the font size for my name */
.bigFont {
    font-size: 30px;
}

/* adds style to the button for my name */
.nameBox{
    background-color: #6ed6ff;
    /* width: 120px; */
    padding: 0px 15px;
    border-radius: 0.25em;
}

/* gives the background of the main content flavor */
.flavor {
    background-color: white;
    margin: 10px 10px;
    /* height: 400px; */
}

/* gives the background of the main content flavor for the contact page */
.flavorContact {
    background-color: white;
    margin: 10px 10px;
    padding: 2em;
}

/* styles the placeholder photo */
.baconator {
    float: left;
    padding-right: 15px;
}

/* modifies the button on the contact page */
.buttonMod {
    padding: 5px 10px;
    border-radius: 0;
}